body{
    color: #343434;
}
.attendancePage{
    padding: 30px;
}
#title{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}
.sessions{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}
.sessionsDiv{
    display: flex;
    gap: 40px;
}
.session{
    border-radius: 8px;
    background-color: #DFD4FF;
    padding: 15px;
    font-size: 17px;
}
.active{
    color: black;
    background-color: #C9BCF2;
}
.class-details{
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.class-title{
    font-weight: bold;
    font-size: 30px;
}
.ltext{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#icon{
    font-size: 50px;
    margin-right: 35px;
}
.class{
    background-color: #E2E2E2;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 25vw;
    height: 120px;
    border-radius: 25px;
}
.percentage{
    font-size: 20px;
}
.days{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* text-decoration: line-through; */
}
.isTrue{
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}
.subjects{
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-column: 3px 3px 3px;
    grid-template-columns: fit-content(100px) fit-content(100px) fit-content(100px);
    gap: 30px;
}
.noSubjects{
    font-size: 20px;
    width: max-content;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1200px){
    .subjects{
        gap: 15px;
    }
    .class{
        padding: 25px;
    }
    .class-title{
        font-size: 26px;
    }
    #icon{
        font-size: 40px;
        margin-right: 0px;
    }
}

@media (max-width: 850px){
    .class{
        width: fit-content;
    }
    .subjects{
        grid-template-columns: fit-content(100px) fit-content(100px);
    }
}
@media (max-width: 520px){
    .class{
        width: 70vw;
    }
    .subjects{
        grid-template-columns: fit-content(100px);
    }
}